<%#= form_for @comment , url: @comment.new_record? ? article_comments_path(@article) : article_comment_path(@article, @comment), method: @comment.new_record? ? :post : :patch do |form| %>
<%#= form_for @article.comments.new , url: article_comments_path(@article, @article.comments.new) do |form| %>
<%= form_with model: @comment.new_record? ? [ @article, @article.comments.new ] : [@article, @comment] do |form| %>

  <%# if @article.comments.new.errors.any? %>
<!--    p "@@@@@@@#########@@@@@@@@@@#############"-->
<!--    <div id="error_explanation">-->
<!--      <h2>-->
<!--        <%#= pluralize(@article.comments.new.errors.count, "error") %> prohibited-->
<!--        this article from being saved:-->
<!--      </h2>-->
<!--      <ul>-->
        <%# @article.comments.new.errors.full_messages.each do |msg| %>
<!--          <li><%#= msg %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
<!--  <p>-->
<!--    <%#= form.label :commenter %><br>-->
    <%#= form.text_field :commenter, name: "comment[commenter][]" %>
<!--  </p>-->
<!--  <p>-->
<!--    <%#= form.label :commenter %><br>-->
    <%#= form.text_field :commenter, name: "comment[commenter][]" %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= form.label :commenter_confirmation %><br>-->
    <%#= form.text_field :commenter_confirmation %>
<!--  </p>-->
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>