<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :text %><br>
    <%= form.rich_text_area :text %>
  </p>
  <p>
    <%= form.label :published %><br>
    <%= form.check_box :published %>
  </p>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: @article.status %>
  </p>
<!--  <p>-->
    <%#= form.collection_check_boxes :comment_ids, Comment.order(:id), :id, :commenter %>
<!--  </p>-->
  <p>
    <%= form.fields_for :comments do |comment_form| %>
      <p>
        <%= comment_form.label :commenter %>
        <%= comment_form.text_field :commenter %>
      </p>
      <p>
        <%= comment_form.label :body %>
        <%= comment_form.text_field :body %>
      </p>
      <p>
        <%= comment_form.label :_destroy, 'удалить коммент нахуй' %>
        <%= comment_form.check_box :_destroy %>
      </p>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>