<% if @article.present? %>
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <p>
    <strong>Text:</strong>
    <%= @article.text %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= @article.status %>
  </p>
  <p>
    <strong>Published:</strong>
    <%= @article.published %>
  </p>
  <%= link_to 'download attached document',
              rails_blob_path(@article.document, disposition: 'attachment') if @article.document.attached? %>

  <!--<br>-->
  <!--  <strong>comments texts</strong>-->
  <%# @article.comments.each do |comment| %>
  <!--    <%#= comment.body %> </br>-->
  <%# end %>
  <!--</p>-->

  <h2>Comments</h2>
<%#= render @article.comments %>
  <%= render partial: 'comments/comment', locals: { articleeee: @article } %>
<%#= render partial: 'comments/comment', collection: @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  <!--<%#= render inline: 'render inline string' %> </br>-->
  <!--<%#= render plain: "OK" %> </br>-->
  <!--<%#= render html: 'Not Found 87678678687678687' %> </br>-->

  <p>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Back', articles_path, class: 'back_button' %>
  </p>

  <%= button_to "Back to articles", articles_path, method: :get %>
<% else %>
  <h1>
    всему пизда
  </h1>
<% end %>

